@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
:root {

  --main-black: #000000;
  --silver: #cccccc;
  --yellow: #daff01;
  --purple: #9353ff;

  --mobile: 37.5rem;
  --limitation: 33.2rem;
}

.texto-menor{
  font-size: 13px;
}

.divs-facilidades{
  width: 325px;
}


.verMais{
  background-color: var(--purple);
  color: #fff; 
}

.verdeNeon{
  color: var(--yellow);
}

.cadastro{
  width: 80%;
  max-width: 780px;
}

.rodape{
  height: 60px;
}