:root {
  font-size: 62.5%; /* 10px; */

  --main-black: #000000;
  --silver: #cccccc;
  --yellow: #daff01;
  --purple: #9353ff;

  --mobile: 37.5rem;
  --limitation: 33.2rem;
}

body {
  width: var(--mobile);
  padding: 0;
  margin: 0;
  margin: auto;
}

.pageLimit {
  width: var(--limitation);
}

header {
  height: 14.4rem;
  background-color: var(--main-black);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sectionLogoMenu
