:root {
  font-size: 62.5%; /* 10px; */

  --main-black: #000000;
  --silver: #cccccc;
  --yellow: #daff01;
  --purple: #9353ff;

  --mobile: 37.5rem;
  --limitation: 33.2rem;
}

.flex{
  display: flex;
}

body {
  width: var(--mobile);
  padding: 0;
  margin: 0;
  margin: auto;
}

.pageLimit {
  width: var(--limitation);
}

header {
  height: 14.4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionLogoMenu{
  background-color: var(--main-black);
  height: 50%;
  width: 100%;

}

.centerMenu{
  margin: auto;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.sectionSearch{
  height: 50%;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.sectionSearch input{
  height: 3.7rem;
  text-indent: 1.2rem;
  width: 25.5rem;
}

.sectionSearch button{
  height: 3.9rem;
  width: 8.8rem;
  border: 1px solid var(--main-black);
  font-weight: bold;
}